# Requirements.txt - Objdet for tagging
# Last updated on 2 Jan 2024

matplotlib>=3.8.0
numpy<2.0.0
pandas==2.2.2
Pillow==11.0.0
protobuf>=4.21.6
opencv_contrib_python>=4.8.0
opencv_python>=4.8.0
opencv_python_headless>=4.8.0
six==1.16.0